openapi: 3.1.0
info:
  title: BC Data Catalogue CKAN Datasets Groups API
  description: The British Columbia Data Catalogue exposes a CKAN 2.9 API at /api/3/action/ for searching and retrieving open dataset metadata, organizations, groups, tags, and resources without authentication.
  version: '3'
  contact:
    name: BC Data Catalogue
    url: https://catalogue.data.gov.bc.ca/
servers:
- url: https://catalogue.data.gov.bc.ca/api/3
  description: Production CKAN API
tags:
- name: Groups
paths:
  /action/group_list:
    get:
      summary: List groups
      operationId: groupList
      tags:
      - Groups
      parameters:
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - package_count
          - title
      - name: limit
        in: query
        schema:
          type: integer
      - name: offset
        in: query
        schema:
          type: integer
      - name: all_fields
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
  /action/group_show:
    get:
      summary: Show group
      operationId: groupShow
      tags:
      - Groups
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      - name: include_datasets
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
components:
  schemas:
    CkanResponse:
      type: object
      properties:
        help:
          type: string
        success:
          type: boolean
        result: {}
        error:
          type: object
          properties:
            message:
              type: string
            __type:
              type: string
