openapi: 3.1.0
info:
  title: BC Data Catalogue CKAN Datasets Tags API
  description: The British Columbia Data Catalogue exposes a CKAN 2.9 API at /api/3/action/ for searching and retrieving open dataset metadata, organizations, groups, tags, and resources without authentication.
  version: '3'
  contact:
    name: BC Data Catalogue
    url: https://catalogue.data.gov.bc.ca/
servers:
- url: https://catalogue.data.gov.bc.ca/api/3
  description: Production CKAN API
tags:
- name: Tags
paths:
  /action/tag_list:
    get:
      summary: List tags
      operationId: tagList
      tags:
      - Tags
      parameters:
      - name: query
        in: query
        schema:
          type: string
      - name: vocabulary_id
        in: query
        schema:
          type: string
      - name: all_fields
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
  /action/tag_show:
    get:
      summary: Show tag
      operationId: tagShow
      tags:
      - Tags
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      - name: vocabulary_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
components:
  schemas:
    CkanResponse:
      type: object
      properties:
        help:
          type: string
        success:
          type: boolean
        result: {}
        error:
          type: object
          properties:
            message:
              type: string
            __type:
              type: string
