openapi: 3.1.0
info:
  title: BC Data Catalogue CKAN Datasets Organizations API
  description: The British Columbia Data Catalogue exposes a CKAN 2.9 API at /api/3/action/ for searching and retrieving open dataset metadata, organizations, groups, tags, and resources without authentication.
  version: '3'
  contact:
    name: BC Data Catalogue
    url: https://catalogue.data.gov.bc.ca/
servers:
- url: https://catalogue.data.gov.bc.ca/api/3
  description: Production CKAN API
tags:
- name: Organizations
paths:
  /action/organization_list:
    get:
      summary: List organizations
      operationId: organizationList
      tags:
      - Organizations
      parameters:
      - name: sort
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      - name: offset
        in: query
        schema:
          type: integer
      - name: all_fields
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
  /action/organization_show:
    get:
      summary: Show organization
      operationId: organizationShow
      tags:
      - Organizations
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      - name: include_datasets
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
components:
  schemas:
    CkanResponse:
      type: object
      properties:
        help:
          type: string
        success:
          type: boolean
        result: {}
        error:
          type: object
          properties:
            message:
              type: string
            __type:
              type: string
